.text {

  float: left;

  width: 50%;

  padding: 25px;

  border-top: #ffffff;

}

.navigation a {

  text-decoration: none;

}

@media screen and (max-width:500px) {
  .text {
    width: 100%;
  }
}
