.box {

  float: left;

  width: 100%;

  padding: 25px;

  border-top: #ffffff;

}

.quote{

text-align: left;

font-size: 3vw;

}

.quote2{

text-align: right;

font-size: 2vw;

}

.quote3{

text-align: center;

font-size: 5vw;

}
