*{

  box-sizing: border-box;

}

p{

  font-family:'Noto Sans', 'Oswald', 'Raleway', serif, sans-serif;

}

body {

  margin: 0;

  background-color: #6CD4FF;

}

.header {

  background-color: #6CD4FF;

  padding: 25px;

  text-align: center;

}

.navigation {

  overflow: hidden;

  background-color: #B4396C;

}

.navigation a {

  float: right;

  display: block;

  color: #ffffff;

  text-align: center;

  padding: 25px 25px;

  text-decoration: none;

}

.navigation a:hover {

  background-color: #A3E7FC;

}

.current{

  background-color: #242331;

}

/* code to add responsiveness for smaller screened devices */

@media screen and (max-width:500px) {

  .text {

    width: 100%;

  }

}
